body{
    background-color: black;
    color: white;
}
.main{ 
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
#parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 72%;
    }
.child{
    margin: 10px 12px;
    width: 200px;
    height: 300px;
    border: 2px solid red;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 10px;

    }

    .hr{
        width: 99%;
        height: 0.5px;
        position: relative;
        top: 0;
        background-color: black;
    }

    .child i{
        color: red;
        font-size: 1.5rem;
        cursor: pointer;
    }
.addBtn{
    position: relative;
    left: 170px;
    top: 180px;
    width: 10px;
}

.delBtn{
    position: relative;
    left: 145px;
    top: 160px;
    width: 10px;
    }

.child h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: red;
}

    .navbar{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        /* width: 85%; */
        margin: 2% 14%;
        
    }
    
    .tasklist{
        align-items: flex-start;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    
    span{
        font-family: 'Lato', sans-serif;
        font-weight: 100;

    }
    .addlist{
        font-weight: 300;
        margin: auto 2px;
        
    }
    
    .navbar button{
        text-decoration: none;
        font-size: larger;
        color: white;
        background-color: black;
        border: none;
        cursor: pointer;
        
    }
    
    .icon{
        font-size: 30px;
        color: red;
    }
    .message{
        display: flex;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 25px;
    }
    /* For Popup */
    .popup{
        width: 400px;
        height: 200px;
        border: 2px solid red;
        border-radius: 10px;
        display: none;
        flex-flow: column ;
        align-items: center;
        position: absolute;
        top: 35%;
        left: 35%;
        background-color: white;
    }
    #popup2{
        width: 400px;
        height: 200px;
        border: 2px solid red;
        border-radius: 10px;
        display: none;
        flex-flow: column ;
        align-items: center;
        position: absolute;
        top: 35%;
        left: 35%;
        background-color: white;
        z-index: +2;
    }
    
    .title{
        text-align: center;
        color: red;
        padding: 20px;
        font-size: 20px;
    }
    
    input{
        width: 300px;
        height: 40px;
        margin: 10px;
        border: 1px solid red;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
    }
    
    .add{
        font-size: 15px;
        border: 1px solid red;
        border-radius: 15px;
        padding: 5px 10px 5px 10px ;
        background-color: red;
        color: white;
        margin-top: 20px;
        cursor: pointer;

    }
    
    .grandChild{
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .grandChild span{
        font-weight: 500;
        padding: 2px;
        margin-right: 8px;
    }

    .grandChild button{
        background-color: dodgerblue;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 2px;
    }
